

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Granthalay | Forget Password</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.ico">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="dark">
    <main>
        <header class="main-header style-2 navbar">
            <div id="image-container" class="center-container">
                <a href="/admin" class="brand-wrap">
                    <img src="/logo/logoimage.png" width="70%" alt="Granthalay Dashboard">
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                   </ul>
            </div>
        </header>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Forgot Password</h4>
                    <form method="post" action="/admin/forget-password">
                        <div class="mb-3">
                            <input name="email" class="form-control" placeholder="Enter your email" type="email" required>
                        </div>
                        <p class="text-warning"><%= message %></p>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </form>
                    <p class="text-center"><a href="/admin">Back to login</a></p>
                </div>
            </div>
        </section>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script>
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
          window.location.href = "/admin/login"; // Redirect to login on back press
        };
      </script>
</body>

</html>
<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        /* margin-left: 30vh; */
        margin-left: 10vh;
        width: auto;
        margin-top: 15px;
        /* Full width of the page */
        height: auto;
        /* Full height of the page */
    }

    /* Fixed size for the images */
    img {
        width: 220px;
        height: 220px;
    }
</style>